body {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.card-frame {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  padding: 20px;
  height: 550px;
  width: auto;
}
.bodyText {
  color: #ffffff;
  list-style: none;
}

.searchIcon {
  float: right;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  bottom: 45px;
  left: 85px;
  border-color: none;
}
.contentTitle {
  color: #ffffff;
  font-size: 20px;
}
.todayImage {
  font-size: 80px;
  color: #d9d9d9;
  text-align: center;
}

.todayTitle {
  color: #d9d9d9;
  font-size: 20px;
  text-align: center;
}
.hourlyTotal {
  color: #ffffff;
}
.hourlyTime {
  padding-bottom: 5px;
}
.hourlyTemp {
  padding-top: 5px;
}

.weeklyTotal {
  color: #ffffff;
}
.weeklyTitle {
  font-size: 17px;
}
.weeklyImage {
  font-size: 30px;
}
.weeklyLowTemp {
  color: #d9d9d9;
}
.openSource {
  margin-left: 180px;
}
a:hover {
  text-decoration: underline;
}
